$blue: #2944b5;
$purple: #752cc6;
$purple-secondary: #a714d6;
$orange: #ff914d;
$yellow: #ffbc50;

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "Now";
    src: url("../fonts/Now/Now-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Now";
    src: url("../fonts/Now/Now-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Now";
    src: url("../fonts/Now/Now-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Now";
    src: url("../fonts/Now/Now-Black.otf") format("opentype");
    font-weight: 800;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Now", sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    background-color: #151515;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2 {
    font-family: "Orbitron";
    font-size: 3.125rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    & > span {
        color: $orange;
    }

    @media (max-width: 1024px) {
        font-size: 2.125rem;
    }
}

h3 {
    margin: 0;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    @media (max-width: 1470px) {
        max-width: unset;
        padding: 0 32px;
    }

    @media (max-width: 1250px) {
        padding: 0 16px;
    }
}

header {
    width: 100%;
    position: fixed;
    height: 96px;
    top: 0;
    background-color: rgba(28, 28, 38, 0.9);
    z-index: 99;
    backdrop-filter: blur(4px);
    nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;
            align-items: center;
            justify-content: center;
            & > li {
                padding: 0 16px;
                a {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: rgba(117, 44, 198, 1);
                        height: 4px;
                        width: 0px;
                        left: 0;
                        bottom: -10px;
                        transition: width 0.3s;
                    }
                    &:hover {
                        &::after {
                            width: 40px;
                        }
                    }
                }
                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                }

                &.show-mobile {
                    display: none;
                }
            }
        }

        .join-us {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                linear-gradient(275.28deg, #2944b5 -44.76%, #752cc6 161.3%),
                linear-gradient(180deg, #9747ff 0%, rgba(151, 71, 255, 0) 39.42%);
            border-radius: 16px;
            height: 50px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 0.875rem;
            width: 200px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                    linear-gradient(180deg, #9747ff 0%, rgba(151, 71, 255, 0) 39.42%);
                width: calc(100% + 6px);
                height: calc(100% + 6px);
                border-radius: 16px;
            }
        }

        .menu-burger {
            background-color: transparent;
            border: none;
            display: none;
        }
    }

    @media (max-width: 1385px) {
        nav {
            img {
                height: 70px;
            }
            & > ul {
                li {
                    padding: 0 12px;
                }
            }
        }
    }

    @media (max-width: 1250px) {
        nav {
            & > ul {
                li {
                    font-size: 0.875rem;
                }
            }
        }
    }

    @media (max-width: 1130px) {
        nav {
            & > ul {
                display: none;
                &.active-mobile {
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(28, 28, 38, 0.9);
                    position: absolute;
                    top: 96px;
                    width: 100%;
                    left: 0;
                    height: unset;
                    backdrop-filter: blur(4px);
                    & > li {
                        padding: 16px 0;
                        font-size: 1rem;
                        a {
                            &::after {
                                left: calc(50% - 20px);
                            }
                        }
                    }
                }
            }
            .menu-burger {
                display: flex;
                margin-left: 12px;
                cursor: pointer;
            }

            .btn_and_menu {
                display: flex;
                align-items: center;
            }
        }
    }

    @media (max-width: 600px) {
        nav {
            img {
                height: 60px;
            }

            ul {
                & > li {
                    &.show-mobile {
                        display: flex;
                        .join-us {
                            display: flex;
                        }
                    }
                }
            }

            .join-us {
                display: none;
            }
        }
    }
}

.overlay {
    background-color: #151515dd;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
}

.purple-eclipse,
.yellow-eclipse {
    position: absolute;
    z-index: 3;
    @media (max-width: 700px) {
        width: 500px;
    }
}

.howe_wrapper {
    background-image: url("../images/home-bg.png");
    background-size: cover;

    .girl-top {
        position: absolute;
        bottom: -40px;
        left: 40px;
        width: 30%;
        z-index: 1;
    }

    .boy-top {
        position: absolute;
        bottom: -40px;
        right: 40px;
        width: 30%;
        z-index: 1;
    }

    .lightning-image {
        position: absolute;
        top: 0;
        right: -13%;
        width: 35%;
    }

    .container {
        position: relative;
    }

    & > div:first-child {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    h1 {
        max-width: 1250px;
        margin: 0;
        z-index: 2;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        max-width: 700px;
        line-height: 32px;
        margin: 24px 0 40px 0;
        z-index: 2;
    }

    .btn-play {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.25rem;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            linear-gradient(275.28deg, #2944b5 -44.76%, #752cc6 161.3%),
            linear-gradient(180deg, #9747ff 0%, rgba(151, 71, 255, 0) 39.42%);
        border-radius: 16px;
        width: 300px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            border-radius: 16px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                linear-gradient(180deg, #9747ff 0%, rgba(151, 71, 255, 0) 39.42%);
        }
    }

    .marquee-container {
        height: 96px;
        background: linear-gradient(91.31deg, #9747ff 14.28%, #ff914d 87.82%);
        width: calc(100% + 12px);
        transform: rotate(-2.9deg);
        margin-right: 4px;
        position: relative;
        left: -6px;
        z-index: 3;
        &::after {
            content: "";
            background-color: #151515;
            position: absolute;
            width: 50%;
            height: 96px;
            right: 0;
        }

        .swiper {
            height: 96px;
        }

        .swiper-slide {
            width: max-content !important;
        }

        .content-swip {
            display: flex;
            align-items: center;
            height: 96px;
            width: auto !important;
            padding: 0 20px;
            & > span {
                font-weight: 800;
                font-size: 1.25rem;
                font-family: "Orbitron";
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
    }

    @media (max-width: 1024px) {
        .girl-top,
        .boy-top {
            width: 36%;
        }
    }

    @media (max-width: 1024px) {
        .girl-top,
        .boy-top {
            display: none;
        }
    }
}

.best_wrapper {
    background-color: rgba(21, 21, 21, 1);
    padding: 180px 0 250px 0;
    background-image: url("../images/girl-objectif-1.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: bottom;
    h2 {
        text-align: center;
        max-width: 1250px;
        margin: 0 auto;
    }

    .card_and_image {
        margin-top: 135px;
        width: 80%;
        .card_wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
            & > div {
                backdrop-filter: blur(3px);
                background-color: rgba(117, 44, 198, 0.1);
                border: 1px solid rgba(117, 44, 198, 1);
                border-radius: 16px 64px 16px 16px;
                width: 30%;
                padding: 16px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                & > h3 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 24px;
                }
                & > p {
                    font-size: 1rem;
                    line-height: 19.52px;
                    margin: 10px 0 0 0;
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }
    }

    .container {
        position: relative;
        .purple-eclipse {
            top: -100%;
            right: 0%;
        }
        .yellow-eclipse {
            bottom: -117%;
            left: -16%;
        }
    }

    @media (max-width: 1250px) {
        padding: 180px 0 240px 0;
        .card_and_image {
            width: 65%;
            .card_wrapper {
                gap: 16px;
                & > div {
                    width: calc(50% - 16px);
                }
            }
        }
    }

    @media (max-width: 1024px) {
        padding: 180px 0 180px 0;
        .card_and_image {
            width: 70%;
        }
    }

    @media (max-width: 930px) {
        background-image: none;
        padding: 100px 0 100px 0;
        .card_and_image {
            margin-top: 50px;
            width: 100%;
        }
    }

    @media (max-width: 700px) {
        .card_and_image {
            .card_wrapper {
                & > div {
                    width: 100%;
                }
            }
        }

        .container {
            .purple-eclipse {
                top: -30%;
                right: 0;
            }
            .yellow-eclipse {
                bottom: -60%;
                left: 0;
            }
        }
    }
}

.video_wrapper {
    background-image: url("../images/bg-video.png");
    height: 99vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    img {
        position: relative;
        left: -12px;
    }

    @media (max-width: 900px) {
        height: 500px;
        img {
            left: -6px;
            height: 100px;
        }
    }

    @media (max-width: 650px) {
        height: 400px;
    }
}

.para_wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-position: 90% 65%;
    &.boy_jump {
        background-image: url("../images/boy-jump.png");
        .purple-eclipse {
            top: -50%;
            right: 2%;
            &.purple-eclipse-2 {
                top: unset;
                bottom: -52%;
                right: -21%;
            }
        }

        .yellow-eclipse {
            bottom: -45%;
            left: -20%;
        }
    }

    &.girl_top_hand {
        background-image: url("../images/girl-top-hand.png");
        .purple-eclipse {
            top: -46%;
            right: 2%;
            &.purple-eclipse-2 {
                top: unset;
                bottom: -52%;
                right: -21%;
            }
        }
    }

    .container {
        position: relative;
    }

    & > div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        h2 {
            max-width: 880px;
        }
        p {
            font-size: 1.125rem;
            line-height: 28.8px;
            position: relative;
            padding-left: 32px;
            max-width: 880px;
            &::after {
                content: "";
                width: 4px;
                height: 100%;
                background-color: rgba(255, 145, 77, 1);
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    @media (max-width: 1400px) {
        background-position: right;
        background-size: 40%;
        & > div {
            padding-top: 160px;
            padding-bottom: 160px;
            min-height: unset;
        }
    }

    @media (max-width: 800px) {
        &.boy_jump {
            background-image: none;
        }

        &.girl_top_hand {
            background-image: none;
        }
        & > div {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
}

.adventure_wrapper {
    padding: 64px 0;
    background-image: url("../images/city.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url("../images/boy-run.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 0;
        z-index: 1;
    }
    & > .container {
        z-index: 2;
        position: relative;
    }

    .adventure_container {
        h2 {
            max-width: 490px;
            position: relative;
            bottom: -90px;
        }
    }

    .card_adventure_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div {
            width: 37%;
        }

        .card_adventure {
            margin-bottom: 42px;
            background-color: #1918164d;
            height: 195px;
            border: 1px solid #731996;
            border-radius: 16px 64px 16px 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 32px;
            backdrop-filter: blur(10px);
            & > h3 {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 28.8px;
            }

            & > p {
                margin: 24px 0 0 0;
                line-height: 19.52px;
                color: #ffffffbf;
            }
        }
    }

    @media (max-width: 1200px) {
        .adventure_container {
            h2 {
                bottom: unset;
            }
        }
        .card_adventure_wrapper {
            & > div {
                width: 40%;
            }
            .card_adventure {
                height: unset;
                & > h3 {
                    font-size: 1.2rem;
                }
            }
        }
    }

    @media (max-width: 980px) {
        .card_adventure_wrapper {
            & > div {
                width: 48%;
            }
            .card_adventure {
                padding: 20px;
            }
        }
    }

    @media (max-width: 700px) {
        .adventure_container {
            h2 {
                max-width: unset;
            }
        }
        .card_adventure_wrapper {
            margin-top: 42px;
            flex-wrap: wrap;
            & > div {
                width: 100%;
            }
            .card_adventure {
                padding: 20px;
            }
        }
    }
}

.how_it_work_wrapper {
    padding: 120px 0;
    h2 {
        text-align: center;
    }

    & > div {
        position: relative;

        .purple-eclipse {
            top: -65%;
            right: -11%;
        }

        .yellow-eclipse {
            bottom: -40%;
            left: -20%;
        }
    }

    .stepper_wrapper {
        margin-top: 56px;
        display: flex;
        justify-content: center;
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .left-content {
            & > span {
                min-height: 88px;
                position: relative;
                right: -13px;
                &:nth-child(2) {
                    top: -8px;
                }
                &:nth-child(6) {
                    top: 8px;
                }
            }

            .card_tree {
                border-radius: 34.51px 8.63px 8.63px 8.63px;
            }
        }

        .tree {
            & > span {
                height: 59px;
                width: 59px;
                border-radius: 59px;
                background-color: #9747ff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 1.25rem;
                margin-bottom: 55px;
                position: relative;
                z-index: 1;
                &::after {
                    content: "";
                    width: 3px;
                    height: 55px;
                    background-color: #9747ff;
                    position: absolute;
                    bottom: -55px;
                }
                &:last-child {
                    margin-bottom: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .right-content {
            & > span {
                min-height: 88px;
                position: relative;
                left: -13px;
                &:nth-child(1) {
                    top: -15px;
                }
                &:nth-child(3) {
                    top: -5px;
                }
                &:nth-child(5) {
                    top: 5px;
                }
                &:nth-child(7) {
                    top: 15px;
                }
            }

            .card_tree {
                border-radius: 8.63px 34.51px 8.63px 8.63px;
            }
        }

        .card_tree {
            border: 1px solid #742cc6b2;
            padding: 32px 40px 32px 40px;
            background-color: #9747ff1a;
        }
    }
}

.elite_wrapper {
    padding-top: 200px;
    position: relative;
    .purple-eclipse {
        top: -60%;
        right: 2%;
    }

    .yellow-eclipse {
        bottom: -46%;
        left: -15%;
    }

    .banner-elite {
        border-radius: 32px 128px 32px 32px;
        max-height: 530px;
        height: 530px;
        background-image: url("../images/space-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 55%;
        border: 1px solid #e0d0b6;
        position: relative;
        .banner_content {
            display: flex;
            align-items: center;
            height: 100%;
            h3 {
                font-family: "Orbitron";
                font-weight: 900;
                font-size: 3rem;
                color: rgba(255, 145, 77, 1);
                text-transform: uppercase;
                margin-left: -4%;
            }

            p {
                margin: 22px 0;
            }

            .btn-start {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                    linear-gradient(275.28deg, #ff914d -44.76%, #b84022 161.3%);
                border: 3px solid rgba(0, 0, 0, 0.2);
                border-radius: 16px;
                padding: 16px 32px;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 0.875rem;
                display: flex;
                width: fit-content;
            }

            .elite-run {
                width: 28.5%;
                img {
                    position: relative;
                    left: -30%;
                    top: -98px;
                }
            }
        }
    }
}

.pack_wrapper {
    padding: 200px 0 160px 0;
    background-image: url("../images/globe.png");
    min-height: 100vh;
    background-size: cover;
    position: relative;
    .yellow-eclipse {
        top: -35%;
        left: 0%;
    }

    .purple-eclipse {
        right: 4%;
        top: -20%;
    }

    .pack_content {
        z-index: 2;
        position: relative;
        h2 {
            text-align: center;
        }
    }

    .card_pack_wrapper {
        margin-top: 186px;
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: flex-end;
        & > div {
            border-radius: 16px 64px 16px 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 118px 32px 56px 32px;
            position: relative;
            max-width: 372px;
            flex: 1;
            background-color: rgba(14, 12, 21, 0.9);
            .list_description {
                list-style: none;
                margin: 0;
                padding: 0;
                & > li {
                    text-align: center;
                    color: rgba(255, 255, 255, 0.75);
                    margin-bottom: 24px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .pack_name {
                font-size: 1.25rem;
                border: 2px solid;
                padding: 12px 16px;
                border-radius: 45px;
                text-align: center;
            }

            .pack_price {
                margin: 48px 0;
                font-size: 2.25rem;
                font-family: "Orbitron";
                font-weight: 500;
                text-align: center;
                display: flex;
                flex-direction: column;
                & > span {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }

            .btn-start {
                padding: 16px 32px 16px 32px;
                border-radius: 16px;
                border: 3px solid rgba(0, 0, 0, 0.3);
                margin-top: 48px;
                font-size: 0.875rem;
                text-transform: uppercase;
                font-weight: 900;
            }
            & > img {
                position: absolute;
                top: -86px;
            }
            &.pack_aventure {
                .pack_name {
                    border-color: rgba(224, 208, 182, 1);
                    color: rgba(224, 208, 182, 1);
                }

                .btn-start {
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                        linear-gradient(275.28deg, #f1e6c9 -44.76%, #2e2b24 161.3%);
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    background: linear-gradient(180deg, #e0d0b6 0%, rgba(255, 188, 80, 0) 100%);
                    top: -2px;
                    z-index: -1;
                    border-radius: 16px 64px 16px 16px;
                }
            }

            &.pack_evolution {
                .pack_name {
                    border-color: rgba(136, 227, 241, 1);
                    color: rgba(136, 227, 241, 1);
                }

                .btn-start {
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                        linear-gradient(275.28deg, #2944b5 -44.76%, #88e3f1 161.3%);
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);

                    background: linear-gradient(180deg, #88e3f1 0%, rgba(255, 188, 80, 0) 100%);
                    top: -2px;
                    z-index: -1;
                    border-radius: 16px 64px 16px 16px;
                }
            }
            &.pack_legende {
                .pack_name {
                    border-color: rgba(229, 87, 52, 1);
                    color: rgba(229, 87, 52, 1);
                }

                .btn-start {
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                        linear-gradient(275.28deg, #cd320c -44.76%, #b84022 161.3%);
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    background: linear-gradient(180deg, #b84022 0%, rgba(255, 188, 80, 0) 100%);
                    top: -2px;
                    z-index: -1;
                    border-radius: 16px 64px 16px 16px;
                }
            }
        }
    }
}

.team_wrapper {
    background-image: url("../images/world-lune.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 120px 0;

    .purple-eclipse {
        top: -40%;
        right: 4%;
    }

    .yellow-eclipse {
        top: -50%;
        left: -10%;
    }

    .team_content {
        position: relative;
        z-index: 1;
        border-radius: 32px 128px 32px 32px;
        border: 1px solid rgba(167, 20, 214, 0.5);
        max-height: 800px;
        height: 800px;
        background-image: url("../images/world-lune.png");
        background-size: 109%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        padding: 0 32px 32px 32px;
        background-position-y: 56%;
        background-position-x: 1%;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(13, 7, 20, 0.7);
            top: 0;
            left: 0;
            border-radius: 32px 128px 32px 32px;
            z-index: -1;
        }
        .image-team {
            width: 40%;
            img {
                position: relative;
                top: -34px;
                left: -220px;
            }
        }

        .text-team {
            width: 60%;
            margin-left: 118px;
            p {
                font-size: 1.125rem;
                line-height: 21.96px;
                margin: 48px 0;
            }

            .btn-contact-us {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                    linear-gradient(275.28deg, #ff914d -44.76%, #b84022 161.3%);
                border-radius: 1rem;
                padding: 16px 32px;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 0.875rem;
                border: 3px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.faq_wrapper {
    padding: 120px 0;
    min-height: 100vh;
    background-image: url("../images/faq-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .purple-eclipse {
        top: -40%;
        right: 2%;
    }

    .yellow-eclipse {
        left: -2%;
        top: -30%;
    }
    h2 {
        font-size: 6rem;
        font-family: "Now";
        font-weight: 900;
    }

    .container {
        position: relative;
        z-index: 2;
    }
    .card_faq_wrapper {
        gap: 12px 44px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 48px;
        align-items: flex-start;
        .card_faq {
            border: 1px solid rgba(255, 145, 77, 0.625);
            background-color: rgba(14, 12, 21, 0.7);
            padding: 16px 32px;
            border-radius: 16px 32px 16px 16px;
            width: calc(50% - 44px);
            .question {
                display: flex;
                align-items: center;
                span {
                    font-weight: 500;
                    line-height: 21.6px;
                    font-size: 1.125rem;
                }
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    margin-left: 32px;
                }
            }

            .answer {
                font-size: 0.875rem;
                color: rgba(255, 255, 255, 0.75);
                line-height: 17.08px;
                overflow: hidden;
                margin: 0;
                max-height: 0;
                transition: max-height 0.3s ease-out;
            }

            &.active {
                .answer {
                    height: fit-content;
                }
            }
        }
    }
}

footer {
    position: relative;
    min-height: 100vh;
    background-image: url("../images/bg-footer.png");
    background-size: cover;

    .footer_overlay {
        background-color: rgba(17, 12, 83, 0.8);
    }

    .container {
        z-index: 1;
        position: relative;
        padding-top: 128px;
    }

    .shape {
        background-color: #15151573;
        height: 400px;
        border-radius: 0 0 100% 100%;
        position: absolute;
        width: 100%;
        transform: scale(1.1);
        top: 20px;
    }

    form {
        background-color: #75757530;
        backdrop-filter: blur(10px);
        padding: 98px 72px;
        border-radius: 42px;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .yellow-eclipse {
            left: -40%;
            z-index: -1;
        }

        .purple-eclipse {
            right: -53%;
            z-index: -1;
        }

        button {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                linear-gradient(275.28deg, #2944b5 -44.76%, #752cc6 161.3%),
                linear-gradient(180deg, #9747ff 0%, rgba(151, 71, 255, 0) 39.42%);
            font-size: 1rem;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 600;
            font-family: "Now";
            padding: 16px 32px;
            border-radius: 16px;
            border: 3px solid rgba(151, 71, 255, 1);
            height: 72px;
            cursor: pointer;
        }

        & > div {
            width: 75%;
        }
        h2 {
            text-align: center;
            color: rgba(255, 145, 77, 1);
        }

        & > .description {
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            margin: 32px 0;
        }

        .input {
            margin-bottom: 24px;
            label {
                font-size: 1.25rem;
                font-weight: 500;
                display: block;
            }

            input {
                margin-top: 8px;
                background-color: #ffffff;
                border-radius: 12px;
                padding: 12px;
                border: none;
                width: 100%;
                font-family: "Now";
                &:focus-visible {
                    outline: none;
                }
            }

            &.group-radio {
                input {
                    width: unset;
                }

                & > input:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }

    .bottom-content {
        display: flex;
        flex-direction: column;
        padding: 128px 0 40px 0;
        & > div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                &.menu-footer {
                    & > li {
                        padding-right: 32px;
                        a {
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                background-color: rgba(117, 44, 198, 1);
                                height: 4px;
                                width: 0px;
                                left: 0;
                                bottom: -10px;
                                transition: width 0.3s;
                            }
                            &:hover {
                                &::after {
                                    width: 40px;
                                }
                            }
                        }
                    }
                }

                &.social-link {
                    & > li {
                        padding-right: 40px;
                    }
                }
            }
        }
        .line {
            border-top: 1px solid rgba(255, 255, 255, 1);
            width: 100%;
            margin: 28px 0;
        }
        & > div:last-child {
            justify-content: space-between;
            display: flex;
            align-items: center;
            span,
            a {
                font-size: 1.16rem;
            }

            .privacy {
                margin-left: 28px;
            }
        }
    }
}
